<link href="/views/styles/application.css" rel="stylesheet"/>
<script>
    function onloadIframe(obj, resize) {
        $('#main-iframe-loading').addClass('d-none');
        $('#main-iframe').removeClass('d-none');
        if (resize)
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }

    $(document).ready(function () {
        $('.shortcuts-tree').on('click', function () {
            $(this).parent().toggleClass('active');
            $(this).find('.svg-inline--fa').toggleClass('fa-chevron-down fa-chevron-up');
        });
        $('.link a').on('click', function () {
            $('.link').removeClass('active');
            $(this).closest('.link').addClass('active');
            setIframeUrl('/module/' + $(this).attr('data-id'))
        });
        $('.context-header').on('click', function () {
            setIframeUrl('/app/<%= application.id %>/home');
        });
    });
    function setIframeUrl(url){
        if (window.history.pushState) {
            var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?url=' + url;
            window.history.pushState({path:newurl},'',newurl);
        }
        $('#main-iframe').attr('src', url);
    }
</script>

<%- partial('partials/header-navigation') %>

<main role="main">
    <div class="nav-sidebar bg-light">
        <div class="nav-sidebar-inner-scroll">
            <div class="context-header">
                <a href="#">
                    <div class="avatar-container">
                        <div class="avatar  avatar-tile"><%= application.name[0] %></div>
                    </div>
                    <div class="sidebar-context-title">
                        <%= application.name %>
                    </div>
                </a>
            </div>
            <ul class="sidebar-top-level-items">
                <%- partial('partials/nav-tree', {modules: modules}) %>
            </ul>

        </div>
    </div>
    <div class="container-fluid pt-3" id="main-iframe-loading">
        loading
    </div>
    <%
    if (!url) {
        url = "/app/" + application.id + "/home";
    }
    %>
    <iframe id="main-iframe" class="d-none" src="<%= url %>" frameBorder="0" scrolling="yes"
            onload="onloadIframe(this)"></iframe>
</main>

