<link href="/ui/styles/list.css" rel="stylesheet">
<% if(pageUrl.searchParams.get('target_window') === 'parent') { %>
<base target="_parent">
<% } %>
<%
function getField(fieldName) {
    let i;
    for (i = 0; i < fields.length; i++) {
        if (fields[i].name === fieldName)
            return fields[i];
    }
}
listElements.forEach(function (listElement) {
    listElement.element = getField(listElement.element);
});
%>
<div class="list-page">
    <%- include('./list-navigation') %>
    <main>
        <div class="container-fluid">
            <div class="filters-applied m-1 d-none">
                <span>Filters:</span>
            </div>
        </div>

        <section class="content-area">
            <div class="select-all-checkbox-area">
                <table class="responsive-table table table-hover">
                    <thead>
                    <tr>
                        <th>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="select-all-checkbox">
                                <label class="custom-control-label" for="select-all-checkbox"><span
                                            class="sr-only"></span></label>
                            </div>
                        </th>
                        <% listElements.forEach(function(listElement){ let field = listElement.element; %>
                        <th id="col-header-<%= field.name %>" class="col-header" data-col="<%= field.name %>"><span
                                    class="col-title"><%= field.label %></span> <i
                                    class="fas sort-icon float-right d-none"></i></th>
                        <% }); %>
                    </tr>
                    </thead>
                    <tbody>
                    <% data.forEach(function(record){ %>
                    <tr class="record" data-id="<%= record.id %>">
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input record-checkbox"
                                       value="<%= record.id %>"
                                       id="checkbox-<%= record.id %>">
                                <label class="custom-control-label" for="checkbox-<%= record.id %>"><span
                                            class="sr-only"></span></label>
                            </div>
                        </td>
                        <% listElements.forEach(function(listElement){ let field = listElement.element; %>

                        <!-- date -->
                        <% if(field.type == 'date'){ %>
                        <td>
                            <%= new moment(record[field.name]).format('DD-MMM-YYYY h:mm A') %>
                        </td>

                        <!-- reference -->
                        <% } else if(field.type == 'reference' && field.ref){ %>
                        <td>
                            <% if(record[field.name]) { %>
                            <a href="/p/<%= field.ref %>/edit/<%= record[field.name]['id'] %>?redirect=<%= pageUrl.href %>">
                                <%= record[field.name][field.display_value_field.name] %>
                            </a>
                            <% } %>
                        </td>

                        <!-- reference -->
                        <% } else if(field.type == 'option'){ %>
                        <td>
                            <% if(field.options) field.options.forEach(function(option){ if(option.value === record[field.name]){ %>
                            <%= option.label %>
                            <% }}); %>
                        </td>

                        <% } else { %>
                        <td>
                            <% if(field.display_value) { %>
                            <a href="/p/<%= collection.name %>/edit/<%= record['id'] %>?redirect=<%= pageUrl.href %>"><%= record[field.name] %></a>
                            <% } else { %>
                            <%= record[field.name] %>
                            <% } %>
                        </td>
                        <% }}); %>
                    </tr>
                    <% }); %>

                    </tbody>
                </table>
            </div>
        </section>

    </main>
</div>
<div class="dropdown-menu context-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item cm-open" href="#">Open</a>
    <a class="dropdown-item cm-open-in-new-tab" href="#" target="_blank">Open in new tab</a>
    <a class="dropdown-item cm-export-json" href="#" target="_blank">Export JSON</a>
    <a class="dropdown-item cm-copy-id" href="#">Copy ID</a>
</div>
<script>
    var fields = <%- JSON.stringify(fields) %>;

    function findField(fieldName) {
        return fields.find(function (field) {
            return field.name === fieldName;
        })
    }

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        let $table = $('.responsive-table');
        let $thead = $table.find('thead');
        let $tbody = $table.find('tbody');

        let header = $('.list-page-header');
        $thead.width($thead.width());
        $thead.find('th').each(function (i, el) {
            $(el).width($(el).width());
        });
        $tbody.width($tbody.width());
        $tbody.find('tr:first-child').find('td').each(function (i, el) {
            $(el).width($(el).width());
        });
        $(window).scroll(function (e) {
            if (header.offset().top > 50) {
                if (!$tbody.hasClass('shadow')) {
                    $thead.addClass('shadow');
                    $table.addClass('fixed-table-header');
                    $('.table-area').css('margin-top', '50px');
                }
            } else {
                $thead.removeClass('shadow');
                $table.removeClass('fixed-table-header');
                $('.table-area').css('margin-top', '0px');
            }
        });
        $('.actions-dropdown .dropdown-item').on('click', function (event) {
            event.preventDefault();
            let action = $(this).attr('data-action-name');
            let selectedItems = [];
            $.each($('.record-checkbox:checked'), function () {
                selectedItems.push($(this).val());
            });
            if (action === 'export-json') {
                var exportUrl = window.location.origin + '/p/<%= collection.name %>/export?';
                selectedItems.forEach(function (recordId, index) {
                    if (index)
                        exportUrl += '&';
                    exportUrl += 'records[]=' + recordId;
                })
                window.open(exportUrl, '_blank');
            } else {
                $.ajax({
                    url: "/p/<%= collection.name %>/action",
                    data: JSON.stringify({items: selectedItems}),
                    contentType: 'application/json',
                    type: 'POST'
                }).then(function (data) {
                    window.location.reload();
                }, function (err) {
                    alert(err.responseJSON.original.sqlMessage);
                });
            }

        });
        $('#select-all-checkbox').on('click', function () {
            $('.record-checkbox').prop('checked', $('#select-all-checkbox').prop('checked'));
        });

        let currentUrl = new URL(window.location.href);
        let sortQuery = currentUrl.searchParams.get('sort');

        if (sortQuery) {
            sortQuery = JSON.parse(sortQuery);
            setTimeout(function () {
                var field = Object.keys(sortQuery)[0];
                var $sortIcon = $('#col-header-' + field).find('.sort-icon');
                $sortIcon.removeClass('d-none');
                if (sortQuery[field] === 1)
                    $sortIcon.addClass('fa-sort-down').addClass('mb-2');
                else
                    $sortIcon.addClass('fa-sort-up').addClass('mt-2');
            }, 100);

        }

        $('.col-header').on('click', function (e) {
            var field = $(this).data('col');
            if (sortQuery && sortQuery[field] === 1) {
                currentUrl.searchParams.set('sort', '{"' + field + '": -1}');
            } else
                currentUrl.searchParams.set('sort', '{"' + field + '": 1}');

            window.location.href = currentUrl.href;
        });

        var conditions = JSON.parse(new URL(window.location.href).searchParams.get('conditions'));
        if (conditions) {
            var fieldNames = Object.keys(conditions);
            if (fieldNames.length) {
                $('.filters-applied').removeClass('d-none');
                fieldNames.forEach(function (fieldName) {
                    $('.filters-applied').append('<a href="#" class="badge badge-primary mx-1" data-field="' + fieldName + '">' + findField(fieldName).label + '=' + (conditions[fieldName].$regex || conditions[fieldName]) + ' <i class="fas fa-times remove-filter"></i></a>')
                });
            }
        }


        let $searchInputForm = $('#search-input-form');

        $searchInputForm.on('submit', function (e) {
            e.preventDefault();
            var fieldName = $(this).find('.selected-option').data('selected');
            var value = $(this).find('input').val();
            if (!conditions) {
                conditions = {};
            }
            conditions[fieldName] = {"$regex": value, "$options": "i"};
            currentUrl.searchParams.set('conditions', JSON.stringify(conditions));
            window.location.href = currentUrl.href;
        });

        $(document).on('click', '.remove-filter', function () {
            var fieldName = $(this).closest('.badge').data('field');
            if (conditions) {
                delete conditions[fieldName];
                currentUrl.searchParams.set('conditions', JSON.stringify(conditions));
                window.location.href = currentUrl.href;
            }
        })

        $('#search-input-form .dropdown-item').on('click', function () {
            let $selectedOption = $searchInputForm.find('.selected-option');
            $selectedOption.data('selected', $(this).data('id'));
            $selectedOption.text($(this).text());
        });

        $('.record').on('contextmenu', function (e) {
            var that = this;
            var top = e.pageY - 10;
            var left = e.pageX - 20;
            $(".context-menu").css({
                display: "block",
                top: top,
                left: left
            });
            $(".context-menu .cm-open").attr('href', "/p/<%= collection.name %>/edit/" + $(this).data('id')) + "?redirect=<%= pageUrl.href %>";
            $(".context-menu .cm-open-in-new-tab").attr('href', "/p/<%= collection.name %>/edit/" + $(this).data('id')) + "?redirect=<%= pageUrl.href %>";
            $(".context-menu .cm-export-json").attr('href', "/p/<%= collection.name %>/export?records[]=" + $(this).data('id')) + "?redirect=<%= pageUrl.href %>";
            $(".context-menu .cm-copy-id").on('click', function (e) {
                e.preventDefault();
                copyToClipboard($(that).data('id'));
                toast({
                    type: 'success',
                    title: 'Record ID copied'
                });
            });
            return false; //blocks default Webbrowser right click menu
        }).on("click", function () {
            $(".context-menu").hide();
        });

        $(".context-menu a").on("click", function () {
            $(this).parent().hide();
        });

    });
</script>