<link href="/ui/styles/list.css" rel="stylesheet">
<div class="list-page">

    <%- include('./list-navigation') %>

    <main>
        <div class="container-fluid"></div>

        <section class="content-area">
            <div class="select-all-checkbox-area">
                <table class="responsive-table table table-hover">
                    <thead>
                    <tr>
                        <th>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="select-all-checkbox">
                                <label class="custom-control-label" for="select-all-checkbox"><span
                                            class="sr-only"></span></label>
                            </div>
                        </th>
                        <% fields.forEach(function(field){ %>
                        <% if(field.type == 'password'){ %>
                        <!-- skipped <%= field.name %> -->
                        <% } else { %>
                        <th id="col-header-<%= field.name %>" class="col-header" data-col="<%= field.name %>"><span
                                    class="col-title"><%= field.label %></span> <i
                                    class="fas sort-icon float-right d-none"></i></th>
                        <% }}); %>
                    </tr>
                    </thead>
                    <tbody>
                    <% data.forEach(function(item){ %>
                    <tr>
                        <td class="item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input item-checkbox" value="<%= item.id %>"
                                       id="checkbox-<%= item.id %>">
                                <label class="custom-control-label" for="checkbox-<%= item.id %>"><span
                                            class="sr-only"></span></label>
                            </div>
                        </td>
                        <% fields.forEach(function(field){ %>
                        <% if(field.type == 'password'){ %>
                        <!-- skipped <%= field.name %> -->
                        <% } else if(field.type == 'date'){ %>
                        <td>
                            <%= new moment(item[field.name]).format('DD-MMM-YYYY h:mm A') %>
                        </td>
                        <% } else if(field.type == 'reference' && field.ref){ %>
                        <td>
                            <% if(item[field.name]) {%>
                            <a href="/p/<%= field.ref %>/edit/<%= item[field.name]['id'] %>">
                                <%= item[field.name][field.display_value_field.name] %>
                            </a>
                            <% } %>
                        </td>
                        <% } else { %>
                        <td>
                            <% if(field.display_value) { %>
                            <a href="/p/<%= collection.name %>/edit/<%= item['id'] %>"><%= item[field.name] %></a>
                            <% } else { %>
                            <%= item[field.name] %>
                            <% } %>
                        </td>
                        <% }}); %>
                    </tr>
                    <% }); %>

                    </tbody>
                </table>
            </div>
        </section>

    </main>
</div>
<script>
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
    let $table = $('.responsive-table');
    let $thead = $table.find('thead');
    let $tbody = $table.find('tbody');

    let header = $('.list-page-header');
    $thead.width($thead.width());
    $thead.find('th').each(function(i, el) {
      $(el).width($(el).width());
    });
    $tbody.width($tbody.width());
    $tbody.find('tr:first-child').find('td').each(function(i, el) {
      $(el).width($(el).width());
    });
    $(window).scroll(function(e) {
      if (header.offset().top > 50) {
        if (!$tbody.hasClass('shadow')) {
          $thead.addClass('shadow');
          $table.addClass('fixed-table-header');
          $('.table-area').css('margin-top', '50px');
        }
      } else {
        $thead.removeClass('shadow');
        $table.removeClass('fixed-table-header');
        $('.table-area').css('margin-top', '0px');
      }
    });
    $('.actions-dropdown .dropdown-item').on('click', function(event) {
      event.preventDefault();
      let action = $(this).attr('data-action-name');
      let selectedItems = [];
      $.each($('.item-checkbox:checked'), function() {
        selectedItems.push($(this).val());
      });
      $.ajax({
        url: "/p/<%= collection.name %>/action",
        data: JSON.stringify({items: selectedItems}),
        contentType: 'application/json',
        type: 'POST'
      }).then(function(data) {
        window.location.reload();
      }, function(err) {
        alert(err.responseJSON.original.sqlMessage);
      });
    });
    $('#select-all-checkbox').on('click', function() {
      $('.item-checkbox').prop('checked', $('#select-all-checkbox').prop('checked'));
    });

    let currentUrl = new URL(window.location.href);
    let sortQuery = currentUrl.searchParams.get('sort');

    if (sortQuery) {
      sortQuery = JSON.parse(sortQuery);
      setTimeout(function() {
        var field = Object.keys(sortQuery)[0];
        var $sortIcon = $('#col-header-' + field).find('.sort-icon');
        $sortIcon.removeClass('d-none');
        if (sortQuery[field] === 1)
          $sortIcon.addClass('fa-sort-down').addClass('mb-2');
        else
          $sortIcon.addClass('fa-sort-up').addClass('mt-2');
      }, 100);

    }

    $('.col-header').on('click', function(e) {
      var field = $(this).data('col');
      if (sortQuery && sortQuery[field] === 1) {
        currentUrl.searchParams.set('sort', '{"' + field + '": -1}');
      } else
        currentUrl.searchParams.set('sort', '{"' + field + '": 1}');

      window.location.href = currentUrl.href;
    });

    $('#search-input-form').on('submit', function(e) {
      e.preventDefault();
      var field = $(this).find('.selected-option').data('selected');
      var value = $(this).find('input').val();
      currentUrl.searchParams.set('conditions', '{ "' + field + '": { "$regex": "' + value + '", "$options": "i" } }');
      window.location.href = currentUrl.href;
    })

  });
</script>
