<link href="/ui/styles/list.css" rel="stylesheet">
<div class="list-page">
    <nav class="navbar list-page-header navbar-light bg-light navbar-expand-md justify-content-between py-0">
        <h4 class="navbar-brand py-2 m-0 float-left">
            <%= collection.label %>
        </h4>
        <form class="form-inline">
            <a href="/p/<%= collection.name %>/new" class="btn btn-sm btn-link">
                <i class="fas fa-plus"></i>
            </a>
        </form>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="actionsDD" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Actions
                </a>
                <div class="dropdown-menu actions-dropdown" aria-labelledby="actionsDD">
                    <a class="dropdown-item" href="#" data-action-name="delete">Delete</a>
                </div>
            </li>
        </ul>
        <form class="form-inline" id="search-input-form">
            <div class="input-group  input-group-sm">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle selected-option" type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"
                            data-selected="<%= fields[0].name %>"><%= fields[0].label %>
                    </button>
                    <div class="dropdown-menu">
                        <% fields.forEach(function(field){ %>
                        <a class="dropdown-item" href="#" data-id="<%= field.name %>"><%= field.label %></a>
                        <% }) %>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
            </div>
        </form>
        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="btn btn-link btn-sm" data-toggle="tooltip" data-placement="top"
                        data-container="body" title="Filter">
                    <i class="fas fa-filter"></i>
                </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-link btn-sm" data-toggle="tooltip" data-placement="top"
                        data-container="body" title="Filter">
                    <i class="fas fa-angle-double-left"></i>
                </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-link btn-sm" data-toggle="tooltip" data-placement="top"
                        data-container="body" title="Filter">
                    <i class="fas fa-angle-left"></i>
                </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-link btn-sm" data-toggle="tooltip" data-placement="top"
                        data-container="body" title="Filter">
                    <i class="fas fa-angle-right"></i>
                </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-link btn-sm" data-toggle="tooltip" data-placement="top"
                        data-container="body" title="Filter">
                    <i class="fas fa-angle-double-right"></i>
                </button>
            </li>
        </ul>
    </nav>

    <main>
        <div class="container-fluid">

        </div>

        <section class="content-area">
            <div class="select-all-checkbox-area">
                <table class="responsive-table table table-hover">
                    <thead>
                    <tr>
                        <th>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="select-all-checkbox">
                                <label class="custom-control-label" for="select-all-checkbox"><span
                                            class="sr-only"></span></label>
                            </div>
                        </th>
                        <% fields.forEach(function(field){ %>
                        <% if(field.type == 'password'){ %>
                        <!-- skipped <%= field.name %> -->
                        <% } else { %>
                        <th id="col-header-<%= field.name %>" class="col-header" data-col="<%= field.name %>"><span
                                    class="col-title"><%= field.label %></span> <i
                                    class="fas sort-icon float-right d-none"></i></th>
                        <% }}); %>
                    </tr>
                    </thead>
                    <tbody>
                    <% data.forEach(function(item){ %>
                    <tr>
                        <td class="item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input item-checkbox" value="<%= item.id %>"
                                       id="checkbox-<%= item.id %>">
                                <label class="custom-control-label" for="checkbox-<%= item.id %>"><span
                                            class="sr-only"></span></label>
                            </div>
                        </td>
                        <% fields.forEach(function(field){ %>
                        <% if(field.type == 'password'){ %>
                        <!-- skipped <%= field.name %> -->
                        <% } else if(field.type == 'date'){ %>
                        <td>
                            <%= new moment(item[field.name]).format('DD-MMM-YYYY h:mm A') %>
                        </td>
                        <% } else { %>
                        <td>
                            <% if(field.display_value) { %>
                            <a href="/p/<%= collection.name %>/edit/<%= item['id'] %>"><%= item[field.name] %></a>
                            <% } else { %>
                            <%= item[field.name] %>
                            <% } %>
                        </td>
                        <% }}); %>
                    </tr>
                    <% }); %>

                    </tbody>
                </table>
            </div>
        </section>

    </main>
</div>
<script>
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
    let $table = $('.responsive-table');
    let $thead = $table.find('thead');
    let $tbody = $table.find('tbody');

    let header = $('.list-page-header');
    $thead.width($thead.width());
    $thead.find('th').each(function(i, el) {
      $(el).width($(el).width());
    });
    $tbody.width($tbody.width());
    $tbody.find('tr:first-child').find('td').each(function(i, el) {
      $(el).width($(el).width());
    });
    $(window).scroll(function(e) {
      if (header.offset().top > 50) {
        if (!$tbody.hasClass('shadow')) {
          $thead.addClass('shadow');
          $table.addClass('fixed-table-header');
          $('.table-area').css('margin-top', '50px');
        }
      } else {
        $thead.removeClass('shadow');
        $table.removeClass('fixed-table-header');
        $('.table-area').css('margin-top', '0px');
      }
    });
    $('.actions-dropdown .dropdown-item').on('click', function(event) {
      event.preventDefault();
      let action = $(this).attr('data-action-name');
      let selectedItems = [];
      $.each($('.item-checkbox:checked'), function() {
        selectedItems.push($(this).val());
      });
      $.ajax({
        url: "/p/<%= collection.name %>/action",
        data: JSON.stringify({items: selectedItems}),
        contentType: 'application/json',
        type: 'POST'
      }).then(function(data) {
        window.location.reload();
      }, function(err) {
        alert(err.responseJSON.original.sqlMessage);
      });
    });
    $('#select-all-checkbox').on('click', function() {
      $('.item-checkbox').prop('checked', $('#select-all-checkbox').prop('checked'));
    });

    let currentUrl = new URL(window.location.href);
    let sortQuery = currentUrl.searchParams.get('sort');

    if (sortQuery) {
      sortQuery = JSON.parse(sortQuery);
      setTimeout(function() {
        var field = Object.keys(sortQuery)[0];
        var $sortIcon = $('#col-header-' + field).find('.sort-icon');
        $sortIcon.removeClass('d-none');
        if (sortQuery[field] === 1)
          $sortIcon.addClass('fa-sort-down').addClass('mb-2');
        else
          $sortIcon.addClass('fa-sort-up').addClass('mt-2');
      }, 100);

    }

    $('.col-header').on('click', function(e) {
      var field = $(this).data('col');
      if (sortQuery && sortQuery[field] === 1) {
        currentUrl.searchParams.set('sort', '{"' + field + '": -1}');
      } else
        currentUrl.searchParams.set('sort', '{"' + field + '": 1}');

      window.location.href = currentUrl.href;
    });

    $('#search-input-form').on('submit', function(e) {
      e.preventDefault();
      var field = $(this).find('.selected-option').data('selected');
      var value = $(this).find('input').val();
      currentUrl.searchParams.set('conditions', '{ "' + field + '": { "$regex": "' + value + '", "$options": "i" } }');
      window.location.href = currentUrl.href;
    })

  });
</script>
