<link href="/ui/styles/base.css" rel="stylesheet">
<link href="/ui/styles/menu.css" rel="stylesheet">
<script>
    <% if (!url && menu) {
        url = "/menu/" + menu.getID() + "/home";
    } %>

    <% if (menu) { %>
    window.MENU = <%- JSON.stringify(menu.toObject()) %>;
    <% } %>

    function onLoadFrame(obj, resize) {
        if (window.history.pushState) {
            let frameUrl = new URL(obj.contentWindow.location.href);
            let newUrl = window.location.protocol + '//' + window.location.host + window.location.pathname + '?url=' +
                    encodeURIComponent(frameUrl.pathname + frameUrl.search);
            window.history.pushState({path: newUrl}, '', newUrl);
        }
        if (resize)
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }

    $(function () {
        $('.shortcuts-tree').on('click', function () {
            $(this).parent().toggleClass('active');
            $(this).find('.svg-inline--fa').toggleClass('fa-chevron-right fa-chevron-down');
        });
        $('.link a').on('click', function () {
            $('.link').removeClass('active');
            $(this).closest('.link').addClass('active');
            setIframeUrl($(this).attr('data-url'));
        });
        $('.context-header').on('click', function () {
            setIframeUrl('/menu/' + window.MENU.id + '/home');
        });
    });

    function setIframeUrl(url) {
        $('#main-iframe').attr('src', url);
    }
</script>

<%- include('../partials/header-navigation') %>

<main role="main" class="<% if(menu){ %>with-menu<% } %>">
    <% if(menu){ %>
    <div class="nav-sidebar bg-light">
        <div class="nav-sidebar-inner-scroll">
            <div class="context-header">
                <a href="javascript:void(0)">
                    <div class="avatar-container">
                        <div class="avatar  avatar-tile"><%= menu.get('label')[0] %></div>
                    </div>
                    <div class="sidebar-context-title">
                        <%= menu.get('label') %>
                    </div>
                </a>
            </div>
            <ul class="sidebar-top-level-items">
                <%- include('../partials/nav-tree', {modules: modules}) %>
            </ul>

        </div>
    </div>
    <% } %>
    <iframe id="main-iframe" src="<%= url %>" frameBorder="0" scrolling="yes"
            onload="onLoadFrame(this);"></iframe>
</main>

