<link href="/views/styles/form.css" rel="stylesheet">
<div class="form-page">
    <nav class="navbar list-page-header navbar-light bg-light navbar-expand-md justify-content-between py-0">
        <h4 class="navbar-brand py-2 m-0 float-left">
            <%= table.label %>
        </h4>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="actionsDD" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                </a>
                <div class="dropdown-menu" aria-labelledby="actionsDD">
                    <a class="dropdown-item" href="#">Delete</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="btn btn-link btn-sm" data-toggle="tooltip" data-placement="top"
                        data-container="body" title="Filter">
                    <i class="fas fa-filter"></i>
                </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-link btn-sm" data-toggle="tooltip" data-placement="top"
                        data-container="body" title="Filter">
                    <i class="fas fa-angle-left"></i>
                </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-link btn-sm" data-toggle="tooltip" data-placement="top"
                        data-container="body" title="Filter">
                    <i class="fas fa-angle-right"></i>
                </button>
            </li>
        </ul>
    </nav>
    <main>
        <div class="container-fluid">
            <form id="view-form" class="needs-validation row mt-4" novalidate>
                <% cols.forEach(function(col){ if(col.name != 'id'){ %>
                <div class="col-md-6">
                    <div class="form-group row no-gutters">
                        <label for="form-<%= col.name %>"
                               class="col-sm-2 col-form-label col-form-label"><%= col.label %></label>
                        <div class="col-sm-8">
                            <% if(col.type == 'INTEGER'){ %>
                            <input type="number" class="form-control form-control" id="form-<%= col.name %>"
                                   name="<%= col.name %>"
                                   placeholder="<%= col.label %>">
                            <% } else { %>
                            <input type="text" class="form-control form-control" id="<%= col.name %>"
                                   name="<%= col.name %>"
                                   placeholder="<%= col.label %>">
                            <% } %>
                            <div class="invalid-feedback">
                                Please provide a <%= col.label %>.
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
                <% }}); %>
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>
<script>
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      let form = document.getElementById('view-form');
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === true) {
          let formObj = {};
          let inputs = $(form).serializeArray();
          $.each(inputs, function(i, input) {
            formObj[input.name] = input.value ? input.value : null;
          });
          $.ajax({
            url: "/p/<%= table.name %>",
            data: JSON.stringify(formObj),
            contentType: 'application/json',
            type: 'POST'
          }).then(function(data) {
            window.location.reload();
          }, function(err) {
            alert(err.responseJSON.original.sqlMessage);
          });
        }
        form.classList.add('was-validated');
        event.preventDefault();
        event.stopPropagation();
      }, false);
    }, false);
  })();
</script>
