<%- partial('../partials/header-navigation') %>
<% if(application){ %>
<script>
	window.APPLICATION = <%- JSON.stringify(application || null) %>;
	$(document).ready(function () {
		let description = window.APPLICATION.description;
		let $description = $('#app-description');
		description = description.split(".");
		$description.text(description[0] + '.');
		if (description.length > 1) {
			description.shift();
			description = description.join(".");
			$description.append('<span class="more-content d-none">' + description + '</span> <a class="read-more" href="javascript:void(0)">more</a>');
		}
		$('.read-more').on('click', function () {
			$(this).remove();
			$('.more-content').removeClass('d-none');
		});
		$('#btn-install').on('click', function () {
			let that = this;
			$(that).prop('disabled', true);
			$.post('/store/' + window.APPLICATION.id + '/install').then(function () {
				$('#installation-complete').modal('show')
			}).always(function () {
				$(that).prop('disabled', false);
			});

		})
	});
</script>
<main role="main">

    <div class="jumbotron jumbotron-fluid" style="background:white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 text-center">
                    <img src="/assets/img/app.png" class="img-fluid">
                </div>
                <div class="col-md-9">
                    <h1 class="display-4"><%= application.name %></h1>
                    <p id="app-description">

                    </p>
                    <p>
                        <button class="btn btn-primary" id="btn-install">Install</button>
                    </p>
                    <p>Current Version : <%= application.version %></p>
                    <% if(application.installed_version) { %>
                    <p>Installed Version : <%= application.installed_version %></p>
                    <% } %>
                    <div class="load-bar d-none">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<% } else { %>
<div class="container-fluid mt-3">
    <div class="alert alert-danger" role="alert">No application with sys id</div>
</div>
<% } %>
<div id="installation-complete" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-success text-light">
                <h5 class="modal-title">Success</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-light" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>App installed completed.</p>
            </div>
        </div>
    </div>
</div>
