<div class="form-group row no-gutters">
    <label for="form-<%= field.name %>"
           class="col-sm-2 <% if(vertical){ %>col-sm-12<% } %> col-form-label"><%= field.label %>

        <% if(field.hint){ %>
        <span rel="tooltip" data-toggle="tooltip" data-placement="right"
              title="<%= field.hint %>">
                                <i class="fas fa-question-circle fa-xs"></i>
                            </span>
        <% } %>
    </label>
    <div class="col-sm-8 <% if(vertical){ %>col-sm-10<% } %>">

        <!-- integer field -->
        <% if(field.type == 'integer'){ %>
        <input type="number" class="form-control" id="form-<%= field.name %>"
               name="<%= field.name %>"
               value="<%= item[field.name] %>"
               placeholder="<%= field.label %>">

        <!-- date field -->
        <% } else if(field.type == 'date'){ %>
        <input type="text" class="form-control" id="form-<%= field.name %>"
               name="<%= field.name %>"
               value="<%= new moment(item[field.name]).format('DD-MMM-YYYY h:mm A') %>"
               placeholder="<%= field.label %>">

        <!-- integer field -->
        <% } else if(field.type == 'password'){ %>
        <input type="password" class="form-control" id="form-<%= field.name %>"
               name="<%= field.name %>"
               value=""
               placeholder="<%= field.label %>">

        <!-- boolean field -->
        <% } else if(field.type == 'boolean'){ %>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input item-checkbox"
                   id="form-<%= field.name %>"
                   name="<%= field.name %>"
                   <% if(item[field.name]){ %>checked="checked"
                    <% } %>
                   placeholder="<%= field.label %>">
            <label class="custom-control-label" for="form-<%= field.name %>"><span
                        class="sr-only"></span></label>
        </div>

        <!-- script field -->
        <% } else if(field.type == 'script' || field.type == 'mixed'){ %>
        <div class="script-editor" id="form-<%= field.name %>" data-field="<%= field.name %>"
             style="height: 500px;border:1px solid grey;"></div>


        <!-- option field -->
        <% } else if(field.type == 'option'){ %>
        <select class="form-control select-option" data-live-search="true"
                id="form-<%= field.name %>" title="Choose one of the following..."
                data-field="<%= field.name %>" name="<%= field.name %>">

            <% if(field.options) field.options.forEach(function(option){ %>
            <option value="<%= option.value %>"
                    <% if(option.value === item[field.name]){ %>selected="selected"
                    <% } %>
            ><%= option.label %></option>
            <% }); %>
        </select>

        <!-- collection field -->
        <% } else if(field.type == 'collection'){ %>
        <select class="form-control select-collection" data-live-search="true"
                id="form-<%= field.name %>" title="Choose one of the following..."
                data-field="<%= field.name %>" name="<%= field.name %>">

            <% if(field.options) field.options.forEach(function(option){ %>
            <option value="<%= option.name %>"
                    <% if(option.name === item[field.name]){ %>selected="selected"
                    <% } %>
            ><%= option.label %></option>
            <% }); %>
        </select>

        <!-- reference field -->
        <% } else if(field.type == 'reference' && field.ref){ %>

        <select class="form-control select-reference" data-live-search="true"
                id="form-<%= field.name %>"
                data-field="<%= field.name %>" name="<%= field.name %>">
            <% if(item[field.name]){ %>

            <option value="<%= item[field.name].id %>"
                    selected="selected"><%= item[field.name][field.display_value_field.name] %></option>
            <% } %>
        </select>
        <% } else if(field.type == 'string' && field.length > 256){ %>
        <textarea type="text" class="form-control" id="form-<%= field.name %>"
                  name="<%= field.name %>"
                  placeholder="<%= field.label %>"><%= item[field.name] %></textarea>
        <% } else { %>
        <input type="text" class="form-control" id="form-<%= field.name %>"
               name="<%= field.name %>"
               value="<%= item[field.name] %>"
               placeholder="<%= field.label %>">
        <% } %>
        <div class="invalid-feedback">
            Please provide a <%= field.label %>.
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
