<div class="form-group row no-gutters">
    <label for="form-<%= field.get('name') %>"
           class="col-sm-2 <% if(vertical){ %>col-sm-12<% } %> col-form-label"><%= field.get('label') %>

        <% if(field.get('hint')){ %>
        <span rel="tooltip" data-toggle="tooltip" data-placement="right"
              title="<%= field.get('hint') %>">
                                <i class="fas fa-question-circle fa-xs"></i>
                            </span>
        <% } %>
    </label>
    <div class="col-sm-8 <% if(vertical){ %>col-sm-10<% } %>">

        <!-- integer field -->
        <% if(field.get('type') == 'integer'){ %>
        <input type="number" class="form-control" id="form-<%= field.get('name') %>"
               name="<%= field.get('name') %>"
               value="<%= record.get(field.get('name')) %>"
               placeholder="<%= field.get('label') %>">

        <!-- date field -->
        <% } else if(field.get('type') == 'date'){ %>
        <input type="text" class="form-control" id="form-<%= field.get('name') %>"
               name="<%= field.get('name') %>"
               value="<%= new moment(record.get(field.get('name'))).format('DD-MMM-YYYY h:mm A') %>"
               placeholder="<%= field.get('label') %>">

        <!-- integer field -->
        <% } else if(field.get('type') == 'password'){ %>
        <input type="password" class="form-control" id="form-<%= field.get('name') %>"
               name="<%= field.get('name') %>"
               value=""
               placeholder="<%= field.get('label') %>">

        <!-- boolean field -->
        <% } else if(field.get('type') == 'boolean'){ %>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input item-checkbox"
                   id="form-<%= field.get('name') %>"
                   name="<%= field.get('name') %>"
                   <% if(record.get(field.get('name'))){ %>checked="checked"
                    <% } %>
                   placeholder="<%= field.get('label') %>">
            <label class="custom-control-label" for="form-<%= field.get('name') %>"><span
                        class="sr-only"></span></label>
        </div>

        <!-- script field -->
        <% } else if(field.get('type') == 'script' || field.get('type') == 'mixed'){ %>
        <div class="script-editor" id="form-<%= field.get('name') %>" data-field="<%= field.get('name') %>"
             style="height: 500px;border:1px solid grey;"></div>


        <!-- option field -->
        <% } else if(field.get('type') == 'option'){ %>
        <select class="form-control select-option" data-live-search="true"
                id="form-<%= field.get('name') %>" title="Choose one of the following..."
                data-field="<%= field.get('name') %>" name="<%= field.get('name') %>">

            <% if(field.options) field.options.forEach(function(option){ %>
            <option value="<%= option.value %>"
                    <% if(option.value === record.get(field.get('name'))){ %>selected="selected"
                    <% } %>
            ><%= option.label %></option>
            <% }); %>
        </select>

        <!-- collection field -->
        <% } else if(field.get('type') == 'collection'){ %>
        <select class="form-control select-collection" data-live-search="true"
                id="form-<%= field.get('name') %>" title="Choose one of the following..."
                data-field="<%= field.get('name') %>" name="<%= field.get('name') %>">

            <% if(field.options) field.options.forEach(function(option){ %>
            <option value="<%= option.name %>"
                    <% if(option.name === record.get(field.get('name'))){ %>selected="selected"
                    <% } %>
            ><%= option.label %></option>
            <% }); %>
        </select>

        <!-- reference field -->
        <% } else if(field.get('type') == 'reference' && field.get('ref')){ %>

        <select class="form-control select-reference" data-live-search="true"
                id="form-<%= field.get('name') %>"
                data-field="<%= field.get('name') %>" name="<%= field.get('name') %>">
            <% if(record.get(field.get('name'))){ %>

            <option value="<%= record.get(field.get('name')).id %>"
                    selected="selected"><%= record.get(field.get('name'))[field.display_value_field.get('name')] %></option>
            <% } %>
        </select>
        <% } else if(field.get('type') == 'string' && field.length > 256){ %>
        <textarea type="text" class="form-control" id="form-<%= field.get('name') %>"
                  name="<%= field.get('name') %>"
                  placeholder="<%= field.get('label') %>"><%= record.get(field.get('name')) %></textarea>
        <% } else { %>
        <input type="text" class="form-control" id="form-<%= field.get('name') %>"
               name="<%= field.get('name') %>"
               value="<%= record.get(field.get('name')) %>"
               placeholder="<%= field.get('label') %>">
        <% } %>
        <div class="invalid-feedback">
            Please provide a <%= field.get('label') %>.
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
