<link href="/ui/styles/form.css" rel="stylesheet"/>
<link rel="stylesheet" data-name="vs/editor/editor.main"
      href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.12.0/min/vs/editor/editor.main.css">
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css" rel="stylesheet"/>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ajax-bootstrap-select/1.4.4/css/ajax-bootstrap-select.min.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ajax-bootstrap-select/1.4.4/js/ajax-bootstrap-select.min.js"></script>
<script src="/ui/scripts/form-script.js"></script>

<%
function getField(fieldName) {
    let i;
    for (i = 0; i < fields.length; i++) {
        if (fields[i].name === fieldName)
            return fields[i];
    }
}
function getFieldFromElement(field) {
    let i;
    for (i = 0; i < formElements.length; i++) {
        if (formElements[i].element === field.name)
            return field;
    }
}

function getElementsForSection(sectionId) {
    return formElements.filter((formElement) => formElement.form_section == sectionId)
}
%>

<div class="form-page">
    <%- include('./form-navigation') %>
    <main>
        <div class="container-fluid">
            <div id="alert-zone">

            </div>
            <form id="form" class="needs-validation mt-4" novalidate>

                <% formSections.forEach(function(formSection){ %>
                <section id="<%= formSection.id %>" class="row">
                    <% getElementsForSection(formSection.id).forEach(function(formElement){
                        let field = getField(formElement.element);
                        let singleColumn = (formSection.column_type === 'single_column')
                        let vertical = (!singleColumn || field.type === 'script')
                    %>
                    <div class="<% if(singleColumn){ %>col-sm-12 <% } else { %>col-sm-6<% } %>">
                        <%- include('./field', {field: field, vertical: vertical}) %>
                    </div>
                    <% }); %>
                </section>
                <% }); %>
                <section class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-sm btn-outline-primary submit-action">Submit</button>
                        </div>
                    </div>
                </section>
            </form>

            <% if(relatedList && relatedListElements.length) { %>
            <h4>Related lists</h4>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <% relatedListElements.forEach(function(relatedListElement, index){ %>
                    <a class="nav-item nav-link <% if(!index){ %>active<% } %>" id="nav-home-tab" data-toggle="tab"
                       href="#nav-home" role="tab"
                       aria-controls="nav-home" aria-selected="true"><%= relatedListElement.name %></a>
                    <% }); %>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <% relatedListElements.forEach(function(relatedListElement, index){ %>
                <div class="tab-pane fade <% if(!index){ %>show active<% } %>" id="nav-home" role="tabpanel"
                     aria-labelledby="nav-home-tab">
                    <iframe class="related-list-iframe"
                            src='/p/<%= relatedListElement.ref_collection %>/list?&target_window=parent<% if(relatedListElement.conditions){ %>&conditions=<%= JSON.stringify(relatedListElement.conditions) %> <% } %>'></iframe>
                </div>
                <% }); %>
            </div>
            <% } %>

        </div>
    </main>
</div>
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            let form = document.getElementById('form');
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                event.stopPropagation();
                if (form.checkValidity() === true) {
                    let formObj = fs.getRecord();

                    <% if(item.id) { %>
                    formObj.id = <%- JSON.stringify(item.id) %>;
                    <% } %>

                    var redirect = new URL(window.location.href).searchParams.get('redirect');

                    $.ajax({
                        url: "/p/<%= collection.name %>",
                        data: JSON.stringify(formObj),
                        contentType: 'application/json',
                        type: 'POST'
                    }).then(function (data) {
                        if (redirect)
                            window.location.href = redirect;
                        else
                            window.location.reload();
                    }, function (err) {
                        alert(err.responseJSON.original.sqlMessage);
                    });
                }
                form.classList.add('was-validated');

            }, false);

            $('.submit-action').on('click', function () {
                var evt = document.createEvent("Event");
                evt.initEvent("submit", true, true);
                form.dispatchEvent(evt);
            });

        }, false);


    })();
</script>

<script>var require = {paths: {'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.12.0/min/vs'}};</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.12.0/min/vs/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.12.0/min/vs/editor/editor.main.nls.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.12.0/min/vs/editor/editor.main.js"></script>
<script>
    window.fs = new FormScript(<%- JSON.stringify(fields.filter(f => getFieldFromElement(f))) %>, '<%= form %>');
</script>
<script>
    monaco.languages.typescript.javascriptDefaults.addExtraLib(`
    <%- include('../../scripts/form-script.d.ts') %>
    `, 'form-script.d.ts');
    monaco.languages.typescript.javascriptDefaults.addExtraLib('declare const fs: FormScript;', 'global.d.ts');


    window.editors = [];
    var item = <%- JSON.stringify(item) %>;
    var fields = <%- JSON.stringify(fields) %>;

    $('[data-toggle="tooltip"]').tooltip();


    function findField(fieldName) {
        return fields.find(function (field) {
            return field.name === fieldName;
        })
    }

    document.querySelectorAll('.script-editor').forEach(function (element) {
        var fieldName = $(element).data('field');
        window.editors[fieldName] = monaco.editor.create(element, {
            value: item[fieldName],
            language: 'javascript',
            theme: 'vs-dark',
            formatOnType: true
        });
    });

    $('.actions-dropdown .dropdown-item').on('click', function (event) {
        event.preventDefault();
        let action = $(this).attr('data-action-name');
        let selectedItems = [];
        selectedItems.push(item.id);
        if (action === 'export-json') {
            var exportUrl = window.location.origin + '/p/<%= collection.name %>/export?';
            selectedItems.forEach(function (recordId, index) {
                if (index)
                    exportUrl += '&';
                exportUrl += 'records[]=' + recordId;
            })
            window.open(exportUrl, '_blank');
        } else {
            $.ajax({
                url: "/p/<%= collection.name %>/action",
                data: JSON.stringify({items: selectedItems}),
                contentType: 'application/json',
                type: 'POST'
            }).then(function (data) {
                if (window.parent)
                    window.parent.location.href = window.parent.location.origin + window.parent.location.pathname;
                else
                    window.location.href = '/';
            }, function (err) {
                alert(err.responseJSON.original.sqlMessage);
            });
        }

    });

    // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function () {

        $('select.select-option').each(function () {
            $(this).selectpicker({noneSelectedText: 'Insert Placeholder text'});
        });

        $('select.select-collection').each(function () {
            $(this).selectpicker({noneSelectedText: 'Insert Placeholder text'});
        });

        $('select.select-reference').each(function () {
            var fieldName = $(this).data('field');
            $(this).selectpicker().ajaxSelectPicker({
                ajax: {
                    url: '/p/<%= collection.name %>/search',
                    dataType: 'json',
                    data: function () {
                        var params = {
                            q: '{{{q}}}',
                            field: fieldName
                        };
                        return params;
                    }
                },
                locale: {
                    emptyTitle: 'Search for item...'
                }
            });
            $('#form-parent').append("<option>test</option>")
        });
    });
</script>
<script>
    var clientScripts = [];

    var clientScript;
    <% clientScripts.forEach(function(clientScript){ %>

    clientScript = <%- JSON.stringify(clientScript) %>;
    clientScript.script = <%- clientScript.script %>;
    clientScripts.push(clientScript);
    if (clientScript.type === 'on_load')
        clientScript.script();
    else if (clientScript.type === 'on_change')
        fs.onChange(function (field, value) {
            clientScript.script(field, value);
        });
    <% }) %>
</script>